#agents{background-color: rgb(255, 127, 191);
        border: solid; color: black; 
        border-radius: 20px;
        margin: auto;
        }
#phoenix{background-color: rgba(248, 120, 15, 0.822);
         border: dotted; border-color: seagreen; color: rgb(0, 0, 0);
         border-radius: 10px;
         margin-top: 30px;
         margin-left: 20px;
         margin-right: 20px;
         margin-bottom: 30px;
         padding: 20px;
         

        }    
#sage{ background-color: aquamarine;
        border: double; border-color: brown; 
        padding: 20px; border-radius: 5px;
        margin-left: 20px;


     } 
#reyna{ background-color: rgb(138, 54, 138);
        border: solid; border-width: 20px;
        border-color: royalblue; border-radius: 15px;
        padding: 30px; text-align: center;

}      